.App {
  display: flex;
  height: 100vh;
}

.left-sidebar {
  flex: 1;
  max-width: 300px;
  overflow-y: auto;
}

.map {
  flex: 2;
  height: 100%;
}

.right-sidebar {
  flex: 1;
  max-width: 300px;
  overflow-y: auto;
}
